<h1>Ignored Item</h1>
<p>
  <span>id: <%= @ignoreditem.id %></span><br>
  <span>itemid: <%= @ignoreditem.itemid %></span><br>
  <span>search_term: <%= @ignoreditem.search_term %></span><br>
  <span>created_at: <%= @ignoreditem.created_at %></span><br>
  <span>updated_at: <%= @ignoreditem.updated_at %></span><br>
</p>
